.home {
    display: flex;
    align-items: center;
    gap: 6.7em;
}

.home__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.home__content--hello {
    font-size: 1.4em;
    text-transform: uppercase;
    margin: 0;
}

.home__content--name {
    font-size: 2.7em;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
}

.home__content--name span {
    color: var(--color-two);
}

.home__content--job {
    font-size: 4em;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
}

.home__content--job span {
    color: var(--color-two);
}

.home__btn {
    display: flex;
    gap: 2.7em;
}

.btn-1--color-two {
    background-color: var(--color-two);
    outline: 5px solid rgba(255, 189, 57, 0.5);
}

.btn-1--color-two::after {
    background-color: rgba(255, 189, 57, 0.3);
}

.btn-1--color-three {
    background-color: var(--color-three);
    outline: 5px solid rgba(153, 153, 153, 0.5);
}

.btn-1--color-three::after {
    background-color: rgba(153, 153, 153, 0.3);
}

.home__image {
    flex: 1;
    aspect-ratio: 5/6;
    opacity: 0.7;
    border-radius: 50px 0 50px 0;
    overflow: hidden;
}

.home__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1200px){
    .home {
        gap: 3.5em;
    }

    .home__content {
        gap: 1.35em;
    }

    .home__content--hello {
        font-size: 1.2em;
    }
    
    .home__content--name {
        font-size: 2.4em;
    }

    .home__content--job {
        font-size: 2.6em;
    }
}

@media (max-width: 992px){
    .home__content--hello {
        font-size: 0.8em;
    }
    
    .home__content--name {
        font-size: 2.1em;
    }

    .home__content--job {
        font-size: 3em;
    }
}

@media (max-width: 768px){
    .home {
        gap: 3.8em;
    }

    .home__content--hello {
        font-size: 0.9em;
    }
    
    .home__content--name {
        font-size: 1.85em;
    }

    .home__content--job {
        font-size: 2.7em;
    }

    .home__image {
        aspect-ratio: 2/3;
    }
}

@media (max-width: 576px) {
    .home__content--hello {
        font-size: 0.75em;
    }
    
    .home__content--name {
        font-size: 1.5em;
    }

    .home__content--job {
        font-size: 1.9em;
    }

    .home__image {
        aspect-ratio: 1/2;
    }
}

@media (max-width: 426px) {
    .home {
        flex-direction: column;
        position: relative;
        margin-bottom: 2em;
    }

    .home__content {
        width: 100%;
        gap: 3em;
        text-align: center;
        padding: 5em 0;
    }

    .home__content--hello {
        font-size: 1.15em;
    }
    
    .home__content--name {
        font-size: 2em;
    }

    .home__content--job {
        font-size: 2.5em;
    }

    .home__btn {
        justify-content: center;
        gap: 2.5em;
    }

    .home__image {
        width: 100%;
        height: 100%; 
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        z-index: -1;
        filter: blur(2px);
    }
}

@media (max-width: 376px) {
    .home__content {
        gap: 1.5em;
    }

    .home__content--hello {
        font-size: 1em;
    }
    
    .home__content--name {
        font-size: 1.75em;
    }

    .home__content--job {
        font-size: 2.3em;
    }
}

@media (max-width: 320px) {
    .home__content--name {
        font-size: 1.7em;
    }

    .home__content--job {
        font-size: 2.1em;
    }
}

