footer {
    text-align: center;
    color: var(--color-three);
}

@media (max-width: 992px) {
    footer {
        font-size: 0.9em;
        margin-top: -5em;
    }
}

@media (max-width: 376px) {
    footer {
        font-size: 0.8em;
    }
}