.btn-2 {
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1em 1.7em;
    border-radius: 50px;
    background-color: var(--color-two);
    border: none;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.btn-2:hover {
    color: var(--color-one);
    transition: all .2s ease-in-out;
}

@media (max-width: 768px){
    .btn-2 {
        font-size: 0.85em;
    }
}

@media (max-width: 376px) {
    .btn-2 {
        font-size: 0.8em;
        padding: 0.8em 1.5em;
    }
}
