<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="../../css/santize.css">
    <link rel="stylesheet" href="../../css/theme.css">
    <link rel="stylesheet" href="../button/btn-2.css">
    <link rel="stylesheet" href="form.css">
</head>

<body>
    <div class="form">
        <form>
            <div class="form-group">
                <input type="text" placeholder="Your name" name="name" />
            </div>
            <div class="form-group">
                <input type="email" placeholder="Your email" name="email" />
            </div>
            <div class="form-group">
                <input type="text" placeholder="Subject" name="subject" />
            </div>
            <div class="form-group">
                <textarea placeholder="Message" name="message" rows="9"></textarea>
            </div>
            <button class="btn-2" type="submit">Send Message</button>
        </form>
    </div>
</body>

</html>